body {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}

img {
    width: 100%;
}

footer {
    background-color: $very-dark-cyan;
    color: $very-pale-blue;
}

a {
    cursor: default;
}