.newsletter {
    line-height: 1.7;
    @include big-tablet { margin-top: 0; }

    &__subtitle {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 14px;
        @include big-tablet { margin-top: 0; }
        @include desktop { font-size: 1.5rem; }
    }

    &__paragraph {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 2rem;
        @include desktop { max-width: 360px; }
    }

    &__form {
        @extend %text-align-right;
        @include flex (column, nowrap, start, flex-end);
        @include big-tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &-input {
            width: 100%;
            margin-bottom: 1rem;
            @include big-tablet { width: 60%; margin-bottom: 0; }
        }
    }
}