.statistics__item {
    &-number {
        font-size: 3.8rem;
        font-weight: 700;
        @include big-tablet { font-size: 4.5rem; }
        @include desktop { font-size: 6rem; }
    }

    &-caption {
        color: #808080;
        font-size: 14px;
        @extend %text-align-center;
        @include desktop { font-size: 1.5rem; }
    }
}